<header class="header">
  <div class="header-container">
    <!-- Logo -->
    <div class="logo">
      <img src="assets/logo-idealista.svg" alt="Logo Idealista" />
    </div>

    <!-- Menú de navegación -->
    <nav class="main-nav">
      <ul>
        <li>
          <a href="/publicar" class="post-ad">
            <img src="assets/pin-idealista.png" alt="Icono Anuncio" />
            <span>Pon tu anuncio gratis</span>
          </a>
        </li>
        <li>
          <a href="/inicio-sesion" class="inicio-sesion">
            <img src="assets/inicio-sesion.png" alt="Icono Usuario" />
            <span>Inicia sesion</span>
          </a>
        </li>
        <li class="language-selector" (click)="toggleDropdown()">
          <div class="selected-language">
            <img src="assets/icons/flag-spain.svg" alt="Español" />
            <span>Español</span>
            <img src="assets/icons/arrow-down.svg" alt="Desplegar" class="arrow" />
          </div>

          <!-- Dropdown de idiomas -->
          <ul class="language-dropdown" [class.show]="dropdownOpen">
            <li (click)="changeLanguage('es')">
              <img src="assets/icons/flag-spain.svg" alt="Español" />
              Español
            </li>
            <li (click)="changeLanguage('en')">
              <img src="assets/icons/flag-uk.svg" alt="English" />
              English
            </li>
            <li (click)="changeLanguage('fr')">
              <img src="assets/icons/flag-france.svg" alt="Français" />
              Français
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
