<footer class="footer">
    <div class="footer-container">
      <div class="footer-columns">
        <div class="footer-column">
          <h4>Sobre idealista</h4>
          <ul>
            <li><a href="#">Quiénes somos</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Trabaja con nosotros</a></li>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Cookies</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Servicios</h4>
          <ul>
            <li><a href="#">Publicar tu anuncio</a></li>
            <li><a href="#">Hipotecas</a></li>
            <li><a href="#">Valoración de inmuebles</a></li>
            <li><a href="#">Agencias inmobiliarias</a></li>
            <li><a href="#">App móvil</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Idealista internacional</h4>
          <ul>
            <li><a href="#">Idealista Italia</a></li>
            <li><a href="#">Idealista Portugal</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>En tu movil o tablet</h4>
          <ul>
            <li><a href="#">Idealista Italia</a></li>
            <li><a href="#">Idealista Portugal</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="social-media">
          <a href="#"><img src="assets/icons/facebook.svg" alt="Facebook" /></a>
          <a href="#"><img src="assets/icons/twitter.svg" alt="Twitter" /></a>
          <a href="#"><img src="assets/icons/instagram.svg" alt="Instagram" /></a>
        </div>
        <p>© 2025 idealista. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
  